html{
    margin: 10;
    padding:10;
    font-family: 'Open Sans', serif;
    background-color: rgb(255, 255, 255)
}


.header{
    background-color: rgb(255, 255, 255);
    height: 120;
    color: rgb(26, 24, 24);
   padding: 20px;
}

.center{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10;
}

.presentation {
    
    margin: 20;
    padding: 15;
    color: rgb(28, 29, 29);
    font-family: 'Open Sans';
    font-size: x-large;
}

.me{
    width: 140px;
    height: 140px;
    margin: 10px;
}
.div-content{
    
    margin: 10px;
    padding: 10px;
   
    font-size: medium;
    margin: 15px;
    white-space: nowrap;
    
}
.content{
text-align: left;
font-size: medium;
}

.mark{
    font-size: xx-small;
    background-color: rgb(10, 30, 34);
}

.django{
    width: 100px;
   
}

.linux{
    height: 50px;
}
.flag{
    height: 35px;
    width: 50px;
}

.gmail{
    height: 20px;
}

.line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
  }

  .line2{
        width: 90%;
        border: 0;
        border-top: 1px solid #CCC;
      
  }

  .content-align{
      margin-left: 20px;
      padding-left: 20px;
  }